html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

#codeDiv{
    height: 100%; 
    width: 30%; 
    float: left; 
    font-family: monospace; 
    white-space: pre-wrap;
    border-right: 1px solid #d3d3d3;
}
#gameDiv{
    height: 100%;
    width: 19.9%;
    float: left;
}

#gamePreview{
    width: 100%;
    height: 50%;
    background-color: black;
}

.navbar{
    background-color: #458590;
}

.nav-link{
    color: #FFF;
}

.nav-link:hover{
    color: #7baca7;
}